
@import '@angular/material/prebuilt-themes/indigo-pink.css';
/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */

/* Oscuro */
/* @import '@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '@angular/material/prebuilt-themes/purple-green.css'; */

/* 2) Estilos globales (sin duplicados) */
html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #fafafa; 
}

nav a { text-decoration: none; padding: 6px 10px; border-radius: 6px; }
nav a.active { background: #e0e0e0; }
.container { max-width: 1100px; margin: 0 auto; padding: 12px; }

